div {
    width: 800px;
    height: 300px;
    margin: auto;
    border-color: #333
}

#div1 {
    background-color: #000;
}

#div2 {
    background-color: #00F;
}

#div3 {
    background-color: #0F0;
}

#div4 {
    background-color: #F00;
}

#div5 {
    background-color: #0FF;
}

#div6 {
    background-color: #FF0;
}
